body{

    background-color:rgb(247, 241, 163);
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 140px auto 140px ;
    }

.container{
    background-color: goldenrod;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:500px;
    height:300px;
    border:1px solid black;
    padding: 10px;
}    